

/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */
 
@media (max-width: 1500px){


}
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */
@media (max-width: 1380px){
   
}
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */
@media (max-width: 1250px){

    /* .departmentcontact_subbox{ 
        width: 100% !important; 
    } */

    .contact_subblock{
        width: 100%;
    }
  
}
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */
@media (max-width: 1199.98px){
 
}


@media (max-width: 991.98px){
   
}
 

/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */
 
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* 
// Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .img_contact{
        width: 350px !important;
        height: 350px !important;
    }
    
   
 }
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */


/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .manager_box{
        display: table;
        background-color: #20B2AA;
    }

    .imgdetail_contact{
        width: 120px !important;
        height: 120px !important;
    }

    
}  
/* ###############    End max-768px ############### */

/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    

    .title-underline {
        padding-left: 10px;
        padding-right: 10px;        
    }

    .disease_box {
        padding: 10px 20px;
    }

    .disease_box .breadcrumb1 {
        margin-top: 10px;
        margin-right: 20px;
    
    }

    .topic_block{
        margin-left: 20px;
        
    }

    .img_contact{
        width: 100% !important;
        height: 100% !important;
    }

}

/* // Small devices (landscape phones, 355px and up) */
@media (max-width: 355px) { 


    .disease_box .breadcrumb1 {
        
        margin-top: 50px;
    
    }
    
    .alphabet {
        margin-top: 60px;
    }

        
}
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */



/* ######################################[ START 27/03/2019]###################################### */
.topic_block{
    display: block;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
}
.topic_text{
    border: 0;
    border-bottom: 3px solid #e84c93;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 8px;
}
.text1{
    font-size: 1.6rem;    
}
.history_block{
    display: table;
}
.card_officelist .card-header{
    background-color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    border-bottom: unset;

}
.card_officelist .card-header:hover{
    color: #e84c93;
}
.office_block{
    width: 100%;
    padding-bottom: 30px;
}
#office_icon.fa{
    float: right;
}
#content_office.card-body{
    padding-left: 18px;
}

.officecontent{
    padding: 1rem 2rem 3rem 4rem; 
}
/* .contact_mainblock{
    display: table;
    width: 100%;
    
}

.contact_subblock{
    display: table-cell;
    width: 50%;
    border: 1px solid #333333;
} */

/* ######################################[ END 27/03/2019]###################################### */



.disease_listmain{
    /* display: block; */
    font-size: 1.8rem;
    /* border-bottom: 2px solid #FF1493; */
    /* margin-top: 50px; */

}

.disease_list_box{
    margin-bottom: 40px;
}

.disease_list{
    color: #20B2AA;
    font-size: 1.5rem;
    border-bottom: 1px solid #8B8989;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

.disease_listsub{
    color: #333333;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 42%;

}

a.disease_listsub:hover{
    color: #e84c93;
}

.disease_listsub_icon{
    color: #FF1493;
    font-size: 0.3rem;
}
 
.alphabet {
    display: block;
    margin-left: -2px;
    margin-right: -2px;
    padding: 0px 0 0;
}

.alphabet a {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.alphabet a {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 2px 10px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 1.12em;
    margin-top: 0;
    text-transform: uppercase;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

a.font_disease{
    width: 40px;
    height: 40px;
    /* line-height: 35px; */

    font-size: 1rem;
    color: black;
    margin-left: 2px;
    margin-right: 2px;
    /* line-height: 30px; */
    box-sizing: border-box;
 
    border: 0.5px solid #EEE9E9;
    border-radius: 5px;
    /* background-color: #FFFAFA; */
    }
    
a.font_disease:hover{

    border: 0.5px solid #e84c93;
    /* color:  #e84c93 ;
    background-color: #e84c93; */
    
}

#dis.font_disease{
    border: 3px solid #FF1493 !important;
}

/* .breadcrumb1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
} */


/* .breadcrumb-item{
    color: #333333;
    font-size: 0.8rem;
    margin-top: 16px;
} */

/* a.breadcrumb-item:hover{
    color: #e84c93;
    border-bottom: 0.5px solid #e84c93;
     
} */

/* .title-underline {
    border: 0;
    border-bottom: 2px solid #e84c93;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.disease_box .breadcrumb1 {
    position: absolute;
    top: -5px;
    right: 0;
} */

.box-sidebar {
    display: table-cell;
    width: 300px;
    height: 100%;
    vertical-align: top;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.box-sidebar .nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    font-size: 1.1em;
}

.box-sidebar .nav li {
    display: block;
    padding: 0;
    margin: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.box-sidebar .nav li a {
    display: block;
    border-bottom: 1px solid #e3e3e3;
    padding: 12px 0;
    font-size: 500;
    position: relative;
    padding-right: 30px;
}

.box-content {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    border: 0;
    border-left: 1px solid #e3e3e3;
    padding-left: 20px;
    padding-bottom: 40px;
}

/* ////////////////////////////////////////////////////////////////// */

/* .tab_box{
    position: relative;
    margin-top: -20px;
    margin-bottom: 30px;
    width: 100%;


}

.tab_menu{
    border-right: 1px solid #e3e3e3;
    height: 400px;
    width: 30%;
}

?]/* .tab_content{
 
    width: 70%;
}

.nav_link {
    border-bottom: 1px solid #e3e3e3;
    margin-top: 10px;
    padding: 10px 0px;
    color: #333333;
    margin-left: 15px;
    display: block;
    font-size: 1.2rem;
}

a.nav_link:hover{
    color: #333333;
    border: 1px solid #F5F5F5 ;
    background-color: #F5F5F5 ;
}
.nav_content{
    padding: 12px 0px;
    color: #333333;
    margin-left: 30px;
    display: block;
    font-size: 1rem;
} */

.detaildiesaseBox{
    display: table;
    width: 100%;
}

.tab_menuBox{
    display: table-cell;
    width: 300px;
    height: 100%;
}

.tab_detailBox{
    display: table-cell;
    border-left: 1px solid #CDC9C9;
    padding-left:20px;
    padding-bottom: 20px;
    height: 100%;
    
}

.tab_menu{
    color: #333333;
    display: inline-block;
    border-bottom: 1px solid #CDC9C9;
    /* border-right: 1px solid #CDC9C9; */
    height: 40px;
    width: 100%;
}

a.tab_menu:hover{
    color: #333333;
    background-color: #DCDCDC ;
    
}

.department_box{
    display: table;
    width: 100%;
 
}

.text_department{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    font-size: 1.0rem;

}
/* a.text_department:hover{
    color: #333333;
    background-color: #FF1493;
    height: 70px;
    width: 300px;
    border-radius: 10px;
} */

.department_mainbox{
    display: table;
    margin: 0px auto;
    height: 100%;
}

.department_subbox{
    display: table;
    padding: 4px 8px;
    width: 300px;
    min-height: 74px;
    margin-top: 40px;
    border-radius: 5px;
    border-bottom: 10px solid #FF1493 ;
    background-color: #e9e9e9;
    
}

.menu_executive{
    
    border : 1px solid #e84c93 ;
    border-radius: 30%;
    
}

/* .manager_box{
    width: 100%;
}

.crad_manager{
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    width: 50%;
    background-color: #DCDCDC;

} */

/* .manager_box{
    width: 100%;
}

.manager_menu{
    display: table;
    width: 25%;
    
}

.manager_submenu{
    display: table-cell;
    width: 100%;
    border : 2px solid #FF1493;
    text-align: center;
}

.txt_manager{

    

    color: #333333;
} */


.img_contact{ 
    width: 100%;
    height: auto;
    border: 4px solid #8B8989;
    margin-bottom: 40px;
}

.imgdetail_contact{

    width: 140px;
    margin-bottom: 15px;
}

.manager_box{
    display: table;
    background-color: #F9F9F9;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    width: 100% ;
    height: 500px ;
    padding: 0rem 4rem;
}

#manager_MainNav.nav {
    width: 100%;
}

.manager_text.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    color: #595959;
}
 
.manager_nav:hover{
    border: 1.5px solid #EB79AD;
    border-radius: 30px;
}

.manager_text.nav-link:hover{
    border-radius: 30px;
    color: #333333;
    border: 3px solid #eb79ad8a;
}

.manager_text.active{
    border: 3px solid #EB79AD;
    border-radius: 30px;
    font-weight: 550;
    color: #333333;
}
 
 
.manager_img{
    display: table-cell;
    width: 200px;
    height: 250px;
    margin: 30px auto;
}

.manager.txt_head{
    font-weight: 600;
    color: #169C9D ;
    text-align: center; 
}

.manager.txt{
    font-weight: 600;
    text-align: center;
}

.manager.txt_phone{
    font-weight: 500; 
}

p.manager{
    margin-bottom: 0.7rem;
}


.search_text{
    margin: auto auto;
    padding: 0px 15px 0px 40px;
    font-size: 1.2rem;
}

.search_row{
    display: inline-flex;
    /* float: right; */
}

.search_block{
    margin: auto auto;
    border-color: #e84c93;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    color: #8B8989;
}

.search_text{
    
}

.img_dowload{
    margin: auto auto;
}

.law_topic{
    font-size: 1.5rem;
    color: #333333;
}

.law_block{
    padding-bottom: 60px;
}

.office_link{
    color: #e84c93;
}

a.office_link:hover{
    color: #eb1f7c;
    border-bottom: 1px solid #EB79AD;
}

/* //////////////////////////////////////////////////////////////////////////// */

.contact_h{
    font-size: 1.6rem;
}

.contact_d{
    font-size: 1.2rem;
}

.contact_phone{
    font-size: 1.4rem; 
}

.contact_block1{
    margin-bottom: 50px;
}

.contact_block2{
    margin-bottom: 50px;
}

.arrow-history{
    color: #20B2AA;
}

.box_ani{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border: 5px solid #FF1493;
    border-radius: 100%;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duraction: 4s;
}

 @-webkit-keyframes example {
  0%   {left: 0px;top: 0px;}
  25%  {left: 0px;top: 0px;}
  100% {left: 0px;top: 0px;}
 }

 @keyframes example {
  0%   {left: 0px;top: 100px;}
  100% {left: 0px;top: 0px;}
 }



.history_block{
    margin-top: 30px;
    display: table;
}

.text_ani{
    color: #8B8989;
    font-weight: 900;
    margin-left: 27px;
    margin-top: 35px;
}

.history_detail{
    margin-left: 200px;
}

.loadinfo{
    margin-top: 50px;
    border: 1px solid #FF1493;
    border-radius: 5px;
}
.boxcont1{
    display: none;
}
.text4{
    font-size: 2.4rem;
    color: #e84c93;
    font-weight: 500;
    margin-bottom: 3px;
    line-height: 1.4;
}
.pagecontact img.icon{
    /* width: 70px; */
}

/* //////////////////////////////////////////////////////////////////////////// */

/* .contact_box{
    margin-bottom: 80px;
} */

/* .departmentcontact_box{
    display: table;
}

.departmentcontact_subbox{
    display: table-cell;
    width: 50%;
    margin-bottom: 80px;
}

.txtcontact_h1{
    margin-left: 80px;
    font-size: 1.8rem;
}

.txtcontact_h2{
    margin-bottom: -5px; 
    margin-left: 80px;
    font-size: 1.6rem;
}

.img_contact{
    
    width: 100%;
    border: 5px solid #8B8989;
}

.imgdetail_contact{

    width: 180px;
    height: 180px;
    margin-left: 80px;
}

.table-procurement thead th {
    background-color: #ededed;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1em;
    white-space: nowrap;
    border: 0;
    padding: 15px 5px;
}

.block_list{
    border-color: #e84c93;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    
} */



/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #e84c93;
    background-color: #e3e3e3;
}

a.nav-link:hover{
    background-color: #e3e3e3;
} */

/* ////////////////////////////////////////////////////////////////// */



/* //////////////////////////Start disease_nav///////////////////////////// */



/* //////////////////////////End   disease_nav///////////////////////////// */


/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */
@media (max-width: 1250px){
    
}
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */
@media (max-width: 1199.98px){

}
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */

@media (max-width: 991.98px){
    .history_detail{
        margin-left: 20px;
    }
}


/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */

@media (max-width: 768px) { 
    .manager_box{ 
        margin-bottom: 30px;
        width: 100%;
        height: 440px;
        padding: 0rem 1rem; 
    }
    .manager_img{
        width: auto;
        height: 180px;
    }
    ul#manager_MainNav{
        display: none;
    }
    p.manager {
        margin-bottom: 0.5rem;
    }


    .tab-content>.tab-pane{
        display: block;
    }
    .tab-content.tab_manager .fade:not(.show) {
        opacity: 1;
    }
    .nonedata{
        display: none !important;
    }


    .boxcont1{
        display: block;
    }
    .boxcont3{
        display: none;
    }

    .boxcont1 img.imglogo{
        width: 100px;
    }   
    .boxcont1 .text4{
         font-size: 1.4rem;
    }  
    
   
}
/* ##################################################################################################  */
/* ##################################################################################################  */
/* ##################################################################################################  */

@media (max-width: 576px) { 

}